DB_USER=admin
DB_PASS=securepass
DB_HOST=postgresql
DB_PORT=5432
DB_URL=postgresql://admin:securepass@postgresql:5432/auth_db
REDIS_URL=redis://:@redis:6379/0
RMQ_URL=amqp://guest:guest@rabbitmq:5672/
PRIV_KEY=placeholder_private_key
PUB_KEY=placeholder_public_key
RMQ_USER=guest
RMQ_PASS=guest
GF_USER=admin
GF_PASS=adminpass
